$primary-text-color: #6c757d;
$primary: #5d9143;
$btn-txt-color: #ffffff;
$the-default-color: #3d484d;
$primary-txt-color: #024059;
$the-error-color: #ff3654;
$btn-disabled: #707070;
$tooltip-color: #00678d;
$agr-color: #363636;
$check-color: #03658c;
